<header class="site-header">
  <nav class="nav-bar">
    <div class="nav-left">
      <a class="nav-name" href="{{ site.baseurl }}/">Ibrahim Mirhashimov</a>
    </div>
    <div class="nav-right">
      <a href="{{ site.baseurl }}/about/">About</a>
      <a href="https://www.youtube.com/channel/UCmOQoKUqsnP3p8GgUAAt3LQ" target="_blank">Blog</a>
      <button id="mode-toggle" aria-label="Toggle dark mode">
        <img
          id="mode-icon"
          src="{{ site.baseurl }}/assets/images/mode-light.svg"
          data-light="{{ site.baseurl }}/assets/images/mode-light.svg"
          data-dark="{{ site.baseurl }}/assets/images/mode-dark.svg"
          alt="Toggle theme"
        />
      </button>
    </div>
  </nav>
</header>
